@import "../global.scss";

.root {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
    position: relative;

    h1 {
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .box {
        padding: 10px;
    }
}
